<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register member</title>
</head>
<body>
<h1>회원 가입</h1>
<form action="/register" method="post">
    <label for="id">아이디</label>
    <input id="id" name="id" type="text"><br>
    <label for="id">패스 워드</label>
    <input id="password" name="password" type="password"><br>
    <label for="name">이름</label>
    <input id="name" name="name" type="text"><br>
    <label>성별
        <input name="gender" type="radio" value="male">
        Male
        <input name="gender" type="radio" value="female">
        Female
        <input name="gender" type="radio" value="other">
        Other
    </label>
</form>
</body>
</html>